<!-- ======= Breadcrumbs ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row" data-aos="zoom-out">
          <div class="d-flex justify-content-between align-items-center">
            <ol>
            <li><a href="index.html">Accueil</a></li>
            <li>Biothéque 4C</li>
          </ol>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            
          </div>
          <div class="section-title" data-aos="zoom-out">
          <h2>Notre Biothéque</h2>
          <p>4C Issat Sousse</p>
        </div>
        </div>

      </div>
      </section>

<!-- ======= Event Section ======= -->
  <section id="bib" class="white-section blog-section single-post-section">
    <div class="container">
    <div class="biblio">
      <div class="contentBx">
        <h2>Bibliothéque</h2>
        <div class="size">
          <h3>Size</h3>
        </div>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="biblio">
      
      <div class="contentBx">
        <h2>Bibliothéque Pole</h2>
        <div class="size">
          <h3>Size</h3>
        </div>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="biblio">
      <div class="contentBx">
        <h2>Livres</h2>
        <div class="size">
          <h3>Size</h3>
        </div>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>

  <div>
    <a target="_blank" href="assets/pdf/pdf1.pdf" title="">Livre</a>
  </div>
</section>
    <!-- End Event Section -->
