#bib {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  padding-left: 70px;
  font-family: 'Asap Condensed', sans-serif;
}
.container .biblio {
  position: relative;
  width: 320px;
  height: 450px;
  background: #2b2d42;
  border-radius: 20px;
  overflow: hidden;
}

.container .biblio:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9BDC28;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.container .biblio:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.container .biblio:after {
  content: '4C';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 16em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.08);
}


.container .biblio .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .biblio:hover .contentBx {
  height: 210px;
}

.container .biblio .contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #FFFFFF;
  font-family: 'Asap Condensed', sans-serif;
  text-transform: uppercase;
}

.container .biblio .contentBx .size, 
.container .biblio .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.container .biblio:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .biblio:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .biblio .contentBx .size h3, 
.container .biblio .contentBx .color h3 {
  color: #FFFFFF;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .biblio .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #ef6603;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-wight: 600;
  color: #111111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.container .biblio:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}

@media screen and (max-width: 600px) {
  #bib {
    display: block;
  }
  .biblio {
    margin-bottom: 50px;
  }
}