<!-- ======= Breadcrumbs ======= -->
<section id="cta" class="cta">
      <div class="container">
        <div class="row" data-aos="zoom-out">
          <div class="d-flex justify-content-between align-items-center">
            <ol>
            <li><a routerLink="/home">Accueil</a></li>
            <li>Gestion De Carriére</li>
          </ol>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            
          </div>
          <div class="section-title" data-aos="zoom-out">
          <h2>4C Issat Sousse</h2>
          <p class="title">Gestion De Carriére</p>
        </div>
        </div>
      </div>
</section>

<section>
  <div class="container">
    <h5 data-aos="zoom-in">Quels sont mes talents, mes références et mes autres qualités ?</h5>
    <h5 data-aos="zoom-in">Qu'est-ce que je sais particulièrement bien faire ?  </h5>
    <h5 data-aos="zoom-in">Quels sont les domaines professionnels qui semblent le mieux correspondre à mes intérêts, à ma personnalité et à mes attitudes ?</h5>

    <p data-aos="zoom-in">
      Un cours de bilan personnel et d'exploration de carrière aidera les étudiants à trouver des réponses à ces questions. 
    </p>

    <p data-aos="zoom-in">
      Cours sur les techniques de planification de carrière professionnelle (PCD):<br>
      En général, la première année d'études est un aperçu général des cours, les connaissances spécifiques approfondies venant généralement au cours des années d'études suivantes. 
      Le contenu couvre des sujets tels que la préparation avancée d'un CV, la communication en matière d'emploi, le réseautage, la prospection d'emploi, la navigation dans les salons de l'emploi, la recherche d'emploi sur Internet, la préparation aux entretiens, les techniques d'entretien, les compétences de négociation, etc.

    </p>
   

    
    <p data-aos="zoom-in">
      Cours sur les stratégies recherche d’emploi (CSS)<br>
      Il s'agit d'un cours de dernière année d'études (parfois de troisième année dans certaines universités) qui est conçu pour préparer les étudiants à obtenir un stage ou un emploi à temps plein après l'obtention de leur diplôme.  Bien entendu, un contenu local et une pertinence doivent être ajoutés afin de rendre ce cours plus utile pour le marché de l'emploi local et régional ainsi que pour une vision globale de la carrière. Ce cours peut être enseigné par le personnel du centre de carrière avec l'aide de chaque domaine universitaire.  Chaque domaine académique devrait s'approprier ce cours afin que le contenu spécifique à chaque domaine académique puisse être incorporé dans la conception du cours.
    </p>

    <p data-aos="zoom-in">
      Le centre de carrière devrait introduire des présentations de panels d'industries et d'entreprises dans les cours hebdomadaires de deux heures.  La participation de conférenciers externes, qui font souvent partie du personnel des ressources humaines d'organisations locales, régionales et internationales, offre des possibilités de placement.
    </p>

    <h5> RESSOURCES POUR LA GESTION DE CARRIERE</h5> <br>
    <a href="https://fr.coursera.org/learn/career-advancement" data-aos="zoom-in">Career Advancement</a><br>
    <a href="https://www.my-mooc.com/en/categorie/career-development" data-aos="zoom-in">Career Development 1</a><br>
    
    <a href="https://www.classcentral.com/subject/career-development" data-aos="zoom-in">Career Development 2</a><br>
    <a href="https://www.my-mooc.com/en/categorie/career-development" data-aos="zoom-in">Career Development 3</a><br>


  </div>
</section>