<!-- ======= Breadcrumbs ======= -->
<section id="cta" class="cta">
      <div class="container">
        <div class="row" data-aos="zoom-out">
          <div class="d-flex justify-content-between align-items-center">
            <ol>
            <li><a routerLink="/home">Accueil</a></li>
            <li>Conseil/Accompagnement</li>
          </ol>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            
          </div>
          <div class="section-title" data-aos="zoom-out">
          <h2>4C Issat Sousse</h2>
          <p>Conseil & Accompagnement</p>
        </div>
        </div>
      </div>
</section>

<section>
  <div class="container">

    <h5 data-aos="zoom-in"><b>Le centre de carrière et de certification des compétences 4C ISSATSo offre aux étudiants</b> </h5>
    <ul class="para" data-aos="zoom-in" style="list-style: none;">
      <li>Amélioration de l’employabilité grâce un programme de conseil, d’accompagnement, de formation, de certification et de réseautage</li>
      <li>Conseil dans le choix du parcours académique et professionnel avec un bilan de compétences en ligne et un coaching individuel</li>
      <li>Accompagnement dans la préparation du dossier de candidature pour un stage ou un emploi, offres de stages et d’emploi</li>
      <li>Ateliers de formation en soft skills, techniques de recherche d’emploi et entrepreneuriat</li>
      <li>Formations complémentaires par des professionnels</li>
      <li>Certifications en langues et en technologie</li>
      <li>Formation et certification des Formateurs en compétences transversales et techniques</li>
      <li>Organisation des journées carrière, salon de l’emploi, visites sur site, rencontres avec les entreprises</li>
    </ul><br>

    <p class="para" data-aos="zoom-in" style="float: right;">
      Le centre de carrière fournit des services de carrière dynamiques pour aider les étudiants et les anciens étudiants à naviguer à l'intersection des intérêts, des compétences, des valeurs et des passions. 
    </p><br>

    <p class="para" data-aos="zoom-in" style="float: left; ">
      Le centre d'orientation professionnelle soutient l'identité fondamentale de l’institut, qui consiste à dispenser une éducation pratique et axée sur l'avenir, en offrant un large éventail d'opportunités d'apprentissage, de ressources de développement de carrière et d'expériences concrètes pour aider les étudiants et les anciens étudiants à développer les compétences et les relations significatives dont ils ont besoin pour travailler, réussir et contribuer au marché du travail régional.
    </p><br>

    <p class="para" data-aos="zoom-in" style="float: right;">
      La mission du Centre de carrière est d'agir comme un pont entre l'offre et la demande de personnes talentueuses. Sa principale fonction est de soutenir la croissance des entreprises du secteur privé par le biais d'activités de placement, de former les futurs employés aux aptitudes et compétences critiques selon les besoins du secteur privé et de faciliter le dialogue durable entre le secteur privé et l'éducation sur la révision des programmes d'études.
    </p><br>

    <p class="para" data-aos="zoom-in" style="float: left;">
      Préparer des diplômés capables de travailler, de réussir et de contribuer à l'économie mondiale exige que les diplômés de l'université soient non seulement bien éduqués, mais aussi bien formés pour répondre aux exigences et aux défis d'un lieu de travail en mutation rapide et imprévisible. Cela ne peut se faire seul. En proposant des formations, des outils et l'implication de partenaires internes et externes, le centre de carrière doit catalyser le dialogue sur les carrières qui permet à l'ensemble de la communauté universitaire de contribuer à la réussite de l'étudiant après son diplôme.
    </p>
    
  </div>
</section>