
<!-- ======= Breadcrumbs ======= -->
<section id="cta" class="cta">
      <div class="container">
        <div class="row" data-aos="zoom-out">
          <div class="d-flex justify-content-between align-items-center">
            <ol>
            <li><a href="index.html">Accueil</a></li>
            <li>Contact</li>
          </ol>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
          </div>
          <div class="section-title" data-aos="zoom-out">
          <h2>Contact</h2>
          <p>NOUS CONTACTER</p>
        </div>
        </div>
      </div>
</section>
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
      <div class="container">
        <div class="row mt-5">
          <div class="col-lg-4" data-aos="fade-right">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Localisation:</h4>
                <p>Rue ibn Khaldun, Cité Taffala, Sousse, 4003, TN</p>
              </div>
              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>4c.issatso@gmail.com</p>
              </div>
              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Télephone:</h4>
                <p>+216 95012645</p>
              </div>
            </div>
          </div> 
          <div class="col-lg-8 mt-5 mt-lg-1 " data-aos="fade-left"> 
          <form  class="php-email-form" [formGroup]="contact">
          <div class="form-group">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nom & Prénom" formControlName="fullname" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" formControlName="email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet" formControlName="topic" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" formControlName="message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading"></div>
                <div class="error-message">Chargement</div>
                <div class="sent-message">Votre message a été envoyé. Merci!</div>
              </div>
              <div class="text-center">
                <button type="submit" (click)="onSubmit()" [disabled]="!contact.valid">Envoyer Message</button>
              </div>
              </div>
            </form>
          </div>
        </div>
      </div>
</section> 
<!-- End Contact Section -->
