<section>
<div class="container">
         <header style="text-align: center;">Confirmez votre mot de passe</header>
         <div class="alert alert-danger" role="alert" *ngIf="message">
         	{{message}}
         </div>
         <form [formGroup]="resetpass" (click)="onSubmit()" #registerForm="ngForm">
            <div class="error-text"></div>
            <div class="field">
               <input id="pswrd_1" type="password" formControlName="newpass" placeholder="Nouveau mot de passe">
            </div>
            <div class="field">
               <input id="pswrd_2" type="password"  formControlName="confpass" placeholder="confirmer le nouveau mot de passe">
               <div class="show">
                  Afficher
               </div>
            </div>
            <p class="text-danger pl-1" *ngIf="error.email">{{error.email}}</p>
            <button type="submit" >Envoyer</button>
         </form>
      </div>
</section>
