@import url('https://fonts.googleapis.com/css2?family=Caveat&family=IBM+Plex+Mono:ital,wght@1,600&family=Koulen&display=swap');
.modal-footer {   border-top: 0px; }

.alert {
  margin-top: -60px;
  width:300px;
  float: right;
  padding-right: 10px;
}
section {
  margin-top: 20px;
  background-image: url("/assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header .header{
  background-color: red;
  height: 45px;
}
header a img{
  width: 134px;
margin-top: 4px;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page .form .login{
  margin-top: -31px;
  margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  background: transparent;
  background: rgba(0, 50, 50, 0.4);

}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  color: #fff;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #56BBF1;
  background-image: linear-gradient(45deg,#56BBF1,#5EE6EB);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 25px;
}
.form .message {
  margin: 15px 0 -20px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

span {
  background-color: #FAFFAF;
  color: black;
  margin-right: 10px;
}

.form .message a {
  color: #fff;
  font-style: normal;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;

}

h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: 'Caveat', cursive;
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Koulen', cursive;
  letter-spacing: 4px;
}

::placeholder {
  color: #fff;
  opacity: 1;
  font-size: 14px;
}

hr{
  color: #a9a9a9;
  opacity: 0.3;
  margin-bottom: -25px;
}

label {
  margin: 0;
  display: block;
}
.contact100-form-checkbox {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 35px;
}

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 1000px;
  color: #FF9F45;
  line-height: 1.2;
  float: left;
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;

}

.label-checkbox100::before {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: #FF9F45;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #555555;
}

.txt1 {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #FFF;
  line-height: 1.5;
  float: right;
  margin-bottom: 20px;
  margin-top: -5px;
  cursor: pointer;
}

/*
body {
     background: linear-gradient(211deg, #0575f7, #f39006, #25f703);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
@keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
} */
