@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=IBM+Plex+Mono:ital,wght@1,600&family=Koulen&display=swap');

.alert {
  margin-top: -60px;
  width:300px;
  float: right;
  padding-right: 10px;
}


section {
  margin-top: 20px;
  background-image: url('../../assets/img/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} 


header .header{
  background-color: #fff;
  height: 45px;
}
header a img{
  width: 134px;
margin-top: 4px;
}
.signup-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  display: flex;
}
.signup-page .form .signup{
  margin-top: -31px;
  margin-bottom: 26px;

}
.form {

  position: relative;
  z-index: 1;
  background: transparent;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  background: rgba(0, 50, 50, 0.4);

}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  width: 100%;
  color: #fff;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #56BBF1;
  background-image: linear-gradient(45deg,#56BBF1,#5EE6EB);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 25px;
}
.form .message {
  margin: 15px 0 -10px;
  color: #b3b3b3;
  font-weight: bold;
  font-size: 14px;
}
.form .message a {
  color: #fff;
  text-decoration: none;
}

span {
  background-color: #FAFFAF;
  color: black;
  margin-right: 10px;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.accounttype {
  display: flex;
  padding-left: 10px;
  padding-right: 30px;
  margin-top: 10px;
  margin-bottom: -10px;

}

input[type=radio] {
  visibility: hidden;
}

label.radio {
  cursor: pointer;
  text-indent: 35px;
  overflow: visible;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}

label.radio:before {
  background: #56BBF1;
  content:'';
  position: absolute;
  top:2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

label.radio:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 0.5em;
  height: 0.25em;
  background: transparent;
  top: 7.5px;
  left: 4.5px;
  border: 3px solid #ffffff;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type=radio]:checked + label:after {
  opacity: 1;
}

hr{
  color: #a9a9a9;
  opacity: 0.3;
}
 h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: -15px;
  font-family: 'Caveat', cursive;
  font-family: 'IBM Plex Mono', monospace;
  font-family: 'Koulen', cursive;
  letter-spacing: 4px;
}

.radio {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}

::placeholder {
  color: #fff;
  opacity: 1;
}
/*
body {
     background: linear-gradient(211deg, #0575f7, #f39006, #25f703);
    background-size: 600% 600%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #4c4c4c;

    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
@keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
} */

select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
   background: #5c6664;
   background-image: none;
   flex: 1;
   padding: 0 .5em;
   color:#fff;
   cursor:pointer;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
}
select::-ms-expand {
   display: none;
}
.select {
   position: relative;
   display: flex;
   width: 17em;
   height: 3em;
   line-height: 3;
   background: #5c6664;
   overflow: hidden;
   border-radius: .25em;
}
.select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 1em;
   background: #2b2e2e;
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
}
.select:hover::after {
   color: #23b499;
}