<section class="container"  id="user">

    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="user">
            <div class="picture">
              <img class="img-fluid" src="assets/img/user.png">
            </div>
            <div class="user-content">
              <h3 class="name">Ramzi Bouzaiene</h3>
              <h4 class="title">Etudiant</h4>
            </div>
            <ul class="social">
              <li><a href="#" class="bx bxl-facebook" aria-hidden="true"></a></li>
              <li><a href="#" class="bx bxl-instagram" aria-hidden="true"></a></li>
              <li><a href="#" class="bx bxl-linkedin" aria-hidden="true"></a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
         <div class="user-card">
           
         </div> 
        </div>

</section>