/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import "~bootstrap/dist/css/bootstrap.min.css";


html {
  height: 100%;
 
}

body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background: #FFFFFF;
}

a {
  color: #ef6603;
  text-decoration: none;
}

a:hover {
  color: #fc8129;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ef6603;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #fc7c1f;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  padding-bottom: 40px;
}
.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}
.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #fd9042;
  margin: 4px 10px;
}
.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #2a2c39;
}


/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/

.cta {
  background: #2b2d42;
  padding: 1px 0;
  margin-top: 20px;
}

.cta h2 {
  color: #fff;
  font-size: 10px;
  margin-top: 60px;
  padding-bottom: 0px;
}

.cta p {
  color: #fff;
  margin-bottom: -10px;
  padding-bottom: -120px;
}

.cta ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 20px;
  margin: 0px;
  font-size: 20px;
  padding-bottom: -50px;
}

@media (max-width: 992px) {
  .cta ol {
    margin-top: 10px;
  }
}

.cta ol li + li {
  padding-left: 10px;
}

.cta ol li {
  padding-left: 10px;
  color: white;
}

.cta ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #404356;
  content: "/";
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
