<!-- ======= Breadcrumbs ======= -->
<section id="cta" class="cta">
      <div class="container">
        <div class="row" data-aos="zoom-out">
          <div class="d-flex justify-content-between align-items-center">
            <ol>
            <li><a href="index.html">Accueil</a></li>
            <li>Equipe</li>
          </ol>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
          </div>
          <div class="section-title" data-aos="zoom-out">
          <h2>4C Issat Sousse</h2>
          <p>Notre Equipe</p>
        </div>
        </div>
      </div>
</section> 
<!-- ======= Teams Section ======= -->
<section>
<div class="wrapper">
       
        <div class="team">
          <div class="team_member">
            <div class="team_img">
              <img src="assets/img/team/mounir.jpg" alt="Team_image">
            </div>
            <h3>Mounir FRIJA</h3>
            <p class="role">Directeur Centre</p>
            <ul>
            <li><a href="#"><i class="ri-facebook-fill" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="ri-google-plus-fill" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="ri-linkedin-box-fill" aria-hidden="true"></i></a></li>
          </ul>
          </div>
          <div class="team_member">
            <div class="team_img">
              <img src="#" alt="Team_image">
            </div>
            <h3>Hanene Memmi</h3>
            <p class="role">Responsable communication & réseautage</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p></div>
          <div class="team_member">
            <div class="team_img">
              <img src="#" alt="Team_image">
            </div>
            <h3>Dalel Kanzari</h3>
            <p class="role">Responsable Formation</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
          </div>
        </div>
      </div>
<div class="container">
<div class="list">
    <a href="#">Liste De Notre Ambassadeurs</a>
</div>
</div>
</section>