
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">4C <span>Issat Sousse</span></h2>
          <p class="animate__animated fanimate__adeInUp">Nous Visons L'amélioration De L’insertion Professionnelle Des Diplômés De Notre Institut ISSAT Sousse.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Presentation De L'ISSATSO</h2>
          <p class="animate__animated animate__fadeInUp">Institut Supérieur des Sciences Appliquées et de Technologie de Sousse (ISSATSO) est un établissement scientifique relevant de l'Université De Sousse (Tunisie). Il est créé en application des dispositions du décret n 1385-2001 du 7 juin 2001.</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Mot de Directeur 4C ISSAT SOUSSE</h2>
          <p class="animate__animated animate__fadeInUp">Le centre de carrières et de certification des compétences de l’ISSAT Sousse depuis sa création demeure une structure de formation, de gestion de carrière, une plateforme d'opportunités et de changements positifs dans la vie estudiantine à l’intérieur de notre institution.
 
          Par votre engagement chers formateurs et enseignants, vous avez aidé nos étudiants à se révéler pour qu'ils grandissent. Aussi, vous avez aidé nos partenaires socio-économiques à combler des problèmes de management qui peuvent être résolu par la formation. Empruntant ce chemin du développement personnel, nous avançons vers toujours un peu plus de sagesse, pour que nos regards s'enrichissent et que nous puissions rayonner en grandissant pour un monde meilleur.</p>
          
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>
    </div>
</section>
<main id="main" class="container">

<!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>4C</h2>
          <p>C’est quoi ?</p>
        </div>

        <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">
            <p>
              En référence au plan stratégique de la Réforme de l’Enseignement Supérieur et de la Recherche Scientifique et particulièrement à son objectif d’améliorer l’insertion professionnelle des diplômés, le Ministère a impulsé un programme visant à renforcer les Centres de Carrière et de Certification des Compétences les « 4C ».
            </p>
            
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            
            <img src="assets/img/4C_Lo.png" class="img4c">
          </div>
          </div>
        </div>
    </section>
<!-- End About Section -->

<!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3" data-aos="zoom-in">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
              <i class="ri-check-double-line"></i>
              <h4 class="d-none d-lg-block">Mission Du 4C</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
              <i class="ri-team-line"></i>
              <h4 class="d-none d-lg-block">Cooperation Et Echange Avec Les Industriels</h4>
            </a>
          </li>
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
              <i class="ri-trophy-line"></i>
              <h4 class="d-none d-lg-block">Actions Assurées Par Le 4C ISSATSO</h4>
            </a>
          </li>
          
          <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
              <i class="ri-global-line"></i>
              <h4 class="d-none d-lg-block">Objectifs Globaux</h4> 
            </a>
          </li> 
        </ul>

        <div class="tab-content" data-aos="fade-up">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Amélioration de l'employabilité des futurs diplomés grace un programme de conseil, d'accompagnement, de formation, de certification et de réseautage.</h3>
                <p class="fst-italic">
                  Le centre 4C ISSAT Sousse offre des services de:
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i>Conseil aux étudiants dans le choix du parcours académique et dans la planification de leur carrière professionnelle.</li>
                  <li><i class="ri-check-double-line"></i>Accompagnement dans la préparation du dossier candidature pour une insertion professionnelle.</li>
                  <li><i class="ri-check-double-line"></i> Formation en soft skills, techniques de recherche d'emploi et entrepreneuriat.</li>
                  <li><i class="ri-check-double-line"></i> Organisation de rencontres, visites sur site et journées carrières avec les entreprises  partenaires.</li>

                </ul>
                <p>
                  Renforcement de capacité des enseignants pour mieux impacter l'employabilité des étudiants.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="assets/img/features-1.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>4C Issat Sousse joue le role d'un pont de liaison entre l'institut et son environnement socio-économique. Son travail est basé sur les axes clés suivants :</h3>
                <ul>
                  <li><i class="ri-check-double-line"></i>Mettre en place des indicateurs d'employabilité fiables permettant de bien étudier l'offre des formations de l'institut et les besoins des partenaires industriels pour une meilleure employabilité des diplomés.</li>
                  <li><i class="ri-check-double-line"></i> Dynamiser les mécanismes et les outils de collaboration avec les industriels et montage des conventions de partenariat.</li>
                  <li><i class="ri-check-double-line"></i> Identification des besoins des industriels partenaires en termes de compétences des nouveaux diplomés, et en offre des stages.</li>
                  <li><i class="ri-check-double-line"></i> Mise en place d'une stratégie d'exploitation des compétences expertes disponibles dans notre institution pour répondre aux besions des industriels et exploiter les compétences disponibles chez les industriels au niveau de l'offre de formation à L'ISSAT De Sousse.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="assets/img/features-2.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Les Actions Assurées Par Le 4C Issat Sousse :</h3>
                <ul>
                  <li><i class="ri-check-double-line"></i> Conseil dans le chois du parcours académique et professionel avec un bilan de compétences en ligne et un coaching individuel.</li>
                  <li><i class="ri-check-double-line"></i>Accompagnement dans la préparation du dossier de candidature pour un stage ou un emploi. Présentation des offres de stages et d'emploi.</li>
                  <li><i class="ri-check-double-line"></i> Ateliers de formation en Soft Skills, technique de recherche d'emploi et entrepreneuriat. Formations complémentaires par des professionnels. Certifications en langues et en technologie. Formation et certification des Formateurs en compétences transversales et techniques</li>
                <li><i class="ri-check-double-line"></i>Organisation des journées carriére, salon de l'emploi, visites sur site, recontres avec les entreprises. Partenariat avec les associations et les ONG.</li>
                </ul>
              </div>
            
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="assets/img/features-3.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Les principaux objectifs du fonctionnement des centres de carrière sont les suivants :</h3>
                <ul>
                  <li><i class="ri-check-double-line"></i>Aider les entreprises et les micro-entreprises à devenir plus productives, compétitives et aptes à se développer en trouvant de la main-d'œuvre en améliorant l'accès à une main-d'œuvre plus qualifiée et en renforçant les capacités de gestion des RH.</li>
                  <li><i class="ri-check-double-line"></i>Fournir aux étudiants, aux jeunes diplômés et aux chômeurs les compétences, les aptitudes ou l'expérience nécessaires sur le marché pour améliorer leur employabilité.</li>
                  <li><i class="ri-check-double-line"></i>Améliorer l'adéquation au marché de la formation dispensée par les écoles, les instituts de formation et les universités, et augmenter ainsi le potentiel de réponse aux besoins en main-d'œuvre des microentreprises.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="assets/img/features-4.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div> 
        

      </div>
    </section>
<!-- End Features Section -->

<!-- ======= Services Section ======= -->
<section>
  <div class="container" data-aos="zoom-out">
    <div class="section-title" data-aos="zoom-out">
        <h2>Services</h2>
          <p>Ce Que Nous Offrons ?</p>
      </div>
  
 
    <div class="imgbox" *ngFor="let s of services">
    <img src="{{storageUrl}}{{s.logo}}"> <span class="txtbelow">{{s.nom}}</span>
    </div>
    

  </div>
</section>
<!-- End Services Section -->

<!-- ======= Activities Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>ACTIVITES</h2>
          <p>CE QUE NOUS AVONS FAIT</p>
        </div>
        <div class="homeact" >
          <!--
        <ul id="portfolio-flters" class="d-flex justify-content-end" data-aos="fade-up">
          <li data-filter="*" class="filter-active">Tous</li>
          <li data-filter=".filter-app">Evénement</li>
          <li data-filter=".filter-card">Formation</li>
        </ul> -->

        <div class="row portfolio-container" data-aos="fade-up" >

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" *ngFor="let a of activites" >
            <div class="portfolio-img">
              <img src="{{storageUrl}}{{a.cover}}" class="img-fluid">
            </div>
            <div class="portfolio-info">
              <h4>{{a.titre}}</h4>
              <h5 style="color: #FFF;">{{a.date_deb | date}}</h5>
              
              <!--
              <a href="assets/img/activites/act1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="{a.titre}"><i class="bx bx-plus"></i></a> -->
              <a [routerLink]="['/actdetail' , a.id]" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
          <!--
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="assets/img/activites/act2.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>UI/UX</h4>
              <p>Formation</p>
              <a href="assets/img/activites/act2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="UI/UX"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="assets/img/activites/act3.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Journée Technique en Biomécanique JTBM 2021</h4>
              <p>Evénement</p>
              <a href="assets/img/activites/act3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Journée Technique en Biomécanique JTBM 2021"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="assets/img/activites/act4.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>UstartUp</h4>
              <p>Formation</p>
              <a href="assets/img/activites/act4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="UstartUp"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="assets/img/activites/act5.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>RoadShow CoStart</h4>
              <p>Evénement</p>
              <a href="assets/img/activites/act5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="RoadShow CoStart"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="assets/img/activites/act6.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>BOOTCAMP « OSEZ LANCER VOTRE PROPRE STARTUP »</h4>
              <p>Formation</p>
              <a href="assets/img/activites/act6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="BOOTCAMP « OSEZ LANCER VOTRE PROPRE STARTUP »"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="assets/img/activites/act7.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Journée Portes Ouvertes 4C Issat Sousse 2020</h4>
              <p>Evénement</p>
              <a href="assets/img/activites/act7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Journée Portes Ouvertes 4C Issat Sousse 2020"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="assets/img/activites/act8.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Journée Portes Ouvertes 4C Issat Sousse 2021</h4>
              <p>Evénement</p>
              <a href="assets/img/activites/act8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Journée Portes Ouvertes 4C Issat Sousse 2021"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="assets/img/activites/act9.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Journée Start Up et Entrepreneuriat JSE 2021</h4>
              <p>Evénement</p>
              <a href="assets/img/activites/act9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Journée Start Up et Entrepreneuriat JSE 2021"><i class="bx bx-plus"></i></a>
            </div>
          </div> -->

        </div>
      </div>
      </div>
    </section>
<!-- End Activities Section -->

<!-- ======= Team Section ======= -->
<section  class="team">
      <div class="container">
        <div class="section-title" data-aos="zoom-out">
          <h2>Equipe</h2>
          <p>Notre Equipe</p>
        </div>
        <div class="row">
          <div class="col-lg-6" id="team" *ngFor="let team of teams">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="{{storageUrl}}{{team.photo}}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>{{team.nom_complet}}</h4>
                <span>{{team.position}}</span>
                <p>{{team.email}}</p>
                <div class="social">
                  <a href="{{team.facebook }}"><i class="ri-facebook-fill"></i></a>
                  <a href="{{team.linkedin }}"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
          <!--
          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Hanene Memmi</h4>
                <span>Responsable communication & réseautage</span>
                <p>E-Mail: hanene_memmi@yahoo.fr</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Dalel Kanzari</h4>
                <span>Responsable Formation</span>
                <p>E-Mail: kndalel@gmail.com</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="assets/img/team/ramzi.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Ramzi Bouzaiene</h4>
                <span>4C Issat Sousse</span>
                <p>Test</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>-->
        </div>
      </div>
</section>
<!-- End Team Section -->

<!-- ======= Testimonials Section ======= -->
<!--
<section id="testimonials" class="testimonials">
      <div class="container">
        <div class="section-title" data-aos="zoom-out">
          <h2>Testimonials</h2>
          <p>What they are saying about us</p>
        </div>
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
</section> -->
<!-- End Testimonials Section -->

<!-- <section class="blog_section">
            <div class="container">
              <div class="section-title" data-aos="zoom-out">
                <h2>Blog</h2>
                <p>Postes Récents</p>
              </div>
                <div class="blog_content">
                    <div class="owl-carousel owl-theme">
                        <div class="blog_item col-md-6">
                            <div class="blog_image">
                                <img class="img-fluid" src="src/assets/img/activites/act1">
                                <span><i class="icon ion-md-create"></i></span>
                            </div>
                            <div class="blog_details">
                                <div class="blog_title">
                                    <h5><a href="#">Formation avancée en machine learning.</a></h5>
                                </div>
                                <ul>
                                   
                                    <li><i class="icon ion-md-calendar"></i>29 janvier 2022</li>
                                </ul>
                                <p>Le Centre de Carrières et de Certification des Compétences (4C) de l'ISSAT de Sousse organise...</p>
                                <a href="#">Lire la suite<i class="icofont-long-arrow-right"></i></a>
                            </div>
                        </div>                        
                        <div class="blog_item col-md-6">
                            <div class="blog_image">
                                <img class="img-fluid" src="src/assets/img/activites/act7">
                                <span><i class="icon ion-md-create"></i></span>
                            </div>
                            <div class="blog_details">
                                <div class="blog_title">
                                    <h5><a href="#">Journée Portes Ouvertes 4C Issat Sousse 2020</a></h5>
                                </div>
                                <ul>
                             
                                    <li><i class="icon ion-md-calendar"></i>31 Mars 2020</li>
                                </ul>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem...</p>
                                <a href="#">Lire la suite<i class="icofont-long-arrow-right"></i></a>
                            </div>
                        </div>                        
                        <div class="blog_item col-md-6">
                            <div class="blog_image">
                                <img class="img-fluid" src="src/assets/img/activites/act2" alt="images not found">
                                <span><i class="icon ion-md-create"></i></span>
                            </div>
                            <div class="blog_details">
                                <div class="blog_title">
                                    <h5><a href="#">Formation UI/UX.</a></h5>
                                </div>
                                <ul>
                                    <li><i class="icon ion-md-person"></i>Alexa</li>
                                    <li><i class="icon ion-md-calendar"></i>21,22 et 23 Février 2022</li>
                                </ul>
                                <p>Le Centre de Carrières et de Certification des Compétences (4C) de l'ISSAT de Sousse organise en partenariat avec Orange Tunisie une formation ...</p>
                                <a href="#">Lire la suite<i class="icofont-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
</main>
<!-- End #main -->

<!-- Sponsors logo -->
<section class="section pb-0">
  <div class="container" id="sponsorpics">
    <div class="client-logo-slider d-flex" data-aos="zoom-in" >
      <div *ngFor="let p of partners">
      <img src="{{storageUrl}}{{p.logo}}" class="d-unset img-fluid" >
      </div>
    
    </div>
  </div>
</section>
<!-- Sponsors logo End -->

