<!-- ======= Breadcrumbs ======= -->
<section id="cta" class="cta">
      <div class="container">
        <div class="row" data-aos="zoom-out">
          <div class="d-flex justify-content-between align-items-center">
            <ol>
            <li><a routerLink='/home'>Accueil</a></li>
            <li>Réclamation</li>
          </ol>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            
          </div>
          <div class="section-title" data-aos="zoom-out">
          <h2>4C Issat Sousse</h2>
          <p>Espace Réclamation</p>
        </div>
        </div>
      </div>
</section> 

<section class="rec">
	<div class="container">
		<div class="row mt-5">
		<div class="col-lg-4" data-aos="fade-right">
            <div class="info">
              <img src="assets/img/rec.png" style="width: 100%; height: 100%;">
            </div>
          </div> 
<form class="col-lg-8 mt-5 mt-lg-1 " data-aos="fade-left" [formGroup]="reclamation">

  <input type="text" formControlName="sujet" class="form-control rounded-0" placeholder="Sujet"><br>

  <div class="form-group">
    <textarea formControlName="contenu" class="form-control rounded-0" placeholder="Message" cols="100" rows="5"></textarea>
  </div>

  <button type="submit" (click)="onSubmit()">Envoyer</button>
</form>
</div>
</div>
	
</section>
