<!-- ======= Breadcrumbs ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row" data-aos="zoom-out">
          <div class="d-flex justify-content-between align-items-center">
            <ol>
            <li><a routerLink='/home'>Accueil</a></li>
            <li>Biothéque 4C</li>
          </ol>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            
          </div>
          <div class="section-title" data-aos="zoom-out">
          <h2>4C Issat Sousse</h2>
          <p>Notre Bibliothéque</p>
        </div>
        </div>

      </div>
      </section>

<!-- ======= Event Section ======= -->
<section>
   <script type="text/javascript">
    var $table = $('table.scroll'),
    $bodyCells = $table.find('tr:first').children(),
    colWidth;

// Adjust the width of thead cells when window resizes
$(window).resize(function() {
    // Get the tbody columns width array
    colWidth = $bodyCells.map(function() {
        return $(this).width();
    }).get();
    
    // Set the width of thead columns
    $table.find('tr').children().each(function(i, v) {
        $(v).width(colWidth[i]);
    });    
}).resize(); // Trigger resize handler
</script> 
    <div class="container" *ngFor="let sujet of libraries">
        <h2 class="btitle" data-aos="zoom-in">{{sujet.type}}</h2>
        <table data-aos="zoom-in">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Télécharger</th>
            </tr>
            </thead>
        <tbody>
            <tr *ngFor="let doc of sujet.documents">
                <td>{{doc.titre}}</td>
                <td>{{doc.description}}</td>
                <td><a [href]="storageUrl+getlink(doc.lien) " target="_blanck">Télechager</a></td>

            </tr>
        </tbody>
    
        </table>
      
    </div>
</section>
    <!-- End Event Section -->
